.Window-border {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 800px;
  height: 800px;
  border: 1px solid black;
}

.Character {
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: 390px;
  background-color: red;
}

.Obstacle {
  position: absolute;
  background-color: brown;
}
